html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: "Share Tech Mono", monospace;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #8a1a0b 0%, #000000 70%);
  background-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#mars-clock {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px #da3318, 0 0 20px #ff4a36;
}

#mars-clock .time {
  letter-spacing: 0.05em;
  font-size: 50px;
  padding: 5px 0;
}

#mars-clock .date {
  letter-spacing: 0.1em;
  font-size: 24px;
}

@keyframes glow-effects {
  0% {
    box-shadow: inset 0px 0px 25px black, 1px 0px 5px 0px #da3318;
  }
  50% {
    box-shadow: inset 0px 0px 25px black, 1px 0px 10px 0px #ff4a36;
  }
  100% {
    box-shadow: inset 0px 0px 25px black, 1px 0px 5px 0px #8a1a0b;
  }
}
